.search{
  /*background: url("../image/topmenu-bg.jpg") repeat-x #eeeeee;
  float: left;
  @include def-respond(all-mobile){
    float: none;
  }
  @include def-respond(mobile){
    clear: both;
  }
  height: 49px;
  @include def-respond(tablets-mobile){
    height: 31px;
  }
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 3px solid #ed272b;
  @include def-respond(all-mobile){
    border-bottom: 0px;
    border-left: 1px solid #d4d4d4;
  }
  @include def-respond(mobile){
    border-bottom: 0px;
    border-left: 0px;
  }
  @include def-respond(all-mobile){
    position: absolute;
    left: 0px;
    top: 10px;
  }
  @include def-respond(mobile){
    position: absolute;
    left: 57px;
    top: 42px;
  }*/
  
  margin-top: 27px;
  @include old-ie{
    *+html & {
      margin-top: 49px;
      border-left: 1px solid #d4d4d4;
    }
  }
  background: url("../image/topmenu-bg.jpg") repeat-x #eeeeee;
  float: left;
  height: 49px;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 3px solid #ed272b;
  @include def-respond(tablets-mobile){
    height: 31px;
  }
  @include def-respond(all-mobile){
    clear: both;
    border-left: 1px solid #d4d4d4;
    margin: 0px;
  }
  &_inner{
    margin: 10px 19px 0px 19px;
    padding: 4px 37px 3px 18px;
    width: 118px;
    height: 22px; 
    border: 1px solid #dddddd;
    width: 119px\9;
    @include def-border-radius(3px);
    position: relative;
    background-color: #ffffff;
    @include def-respond(tablets-mobile){
      width: 80px;
      height: 13px;
      margin-top: 7px;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 0px;
    }
    @include def-respond(all-mobile){
      width: 86px;
    }
    @include def-respond(mobile){
      margin-left: 32px;
      margin-right: 32px;
    }
    @include old-ie{
      *+html & {
        padding-left: 0px;
        padding-top: 4px;
        padding-right: 55px;
      }
    }
  }
  &_input{
    width:120px;
    border: 0px;
    @include def-respond(tablets-mobile){
      width: 85px;
      height: 14px;
      font-size: 12px;
    }
    @include def-respond(all-mobile){
      width: 85px;
    }
  }
  &_button{
    position: absolute;
    top: 5px;
    right: 7px;
    display: block;
    width: 17px;
    height: 17px;
    text-indent: -9999px;
    border: 0px;
    background-image: url("../image/search.png");
    background-repeat: no-repeat;
    background-color: transparent;
    &:hover{
      cursor: pointer;
    }
    @include def-respond(tablets-mobile){
      top: 0px;
    }
  }
}