$slider-bottom-font-size-h: 18px;
$slider-bottom-item-text-font-size: 13px;
$slider-bottom-item-border-color: #d4d4d4;
$slider-bottom-font-color: #3c6f92;
.slider-bottom{
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  &_title{
    margin: 0px;
    display: inline-block;
    background-color: $red;
    color: $white;
    font-size: $slider-bottom-font-size-h;
    text-transform: uppercase;
    padding: 8px 36px 8px 36px;
    @include def-border-radiuses(6px, 0px, 0px, 6px);
  }
  &_wrap{
    padding: 22px 50px 0px 50px;
    border-top: 1px solid $red;
  }
  &_item{
    display: block;
    width: 180px;
    height: 328px;
    background-color: #f2f2f2;
    @include def-border-radius(6px);
    float: left;
    margin: 0px 39px 0px 0px;
    border: 1px solid $slider-bottom-item-border-color;
    overflow: hidden;
    &:nth-child(4){
      margin-right: 0px;
    }
    @include old-ie{
      &:first-child + * + * + *{
        margin-right: 0px;
      }
    }  
  }
  &_img{
    width: 100%;
    height: auto;
  }
  &_text{
    margin-top: 1px;
    padding: 20px 10px 0px 10px;
    text-align: center;
    font-size: 16px;
    color: $slider-bottom-font-color;
  }
  &_item-title{
    color: $red;
    line-height: 1.2;
  }
  &_item-text{
    padding: 12px 0px 0px 0px;
    color: $grey;
    font-size: $slider-bottom-item-text-font-size;
  }
  &_ctrl-left{
    background: url("../image/arrows.png") 0px 0px no-repeat #fff;
    display: inline-block;
    width: 22px;
    height: 37px;
    position: absolute;
    left: 0px;
    top: 200px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  &_ctrl-right{
    background: url("../image/arrows.png") 0px 0px no-repeat #fff;
    background-position: -22px 0;
    display: inline-block;
    width: 22px;
    height: 37px;
    position: absolute;
    right: 0px;
    top: 200px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
}


.bx-wrapper .bx-viewport {
  left: -2px;
  padding-right: 2px;
}
.bx-wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../image/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 0px;
  //background: url(../image/controls.png) no-repeat 0 -32px;
  background: url("../image/arrows.png") 0px 0px no-repeat #fff;
  opacity: 0.8;
}

.bx-wrapper .bx-next {
  right: 0px;
  //background: url(../image/controls.png) no-repeat -43px -32px;
  background: url("../image/arrows.png") 0px 0px no-repeat #fff;
  background-position: -22px 0;
  opacity: 0.8;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  outline: 0;
  width: 22px;
  height: 37px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../image/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../image/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}