$main-view-font-size-title: 16px;
$main-view-font-color: #3c6f92;
$main-view-text-font-color: #616161;
.main-view{
  padding: 0px 0px 0px 20px;
  .front & {
    padding: 0px 20px 0px 0px;
  }
  &_inner{
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
  }
  &_title{
    text-transform: uppercase;
    border-left: 5px solid $red;
    border-bottom: 1px solid $red;
    padding: 8px 0px 12px 12px;
    margin: 0px 0px 20px 0px;
    font-size: $main-view-font-size-title;
  }
  &_title-text{
    color: $main-view-text-font-color;
    padding: 9px 0px 29px 0px;
  }
  &_item{
    width: 219px;
    height: 200px;
    background-color: #f2f2f2;
    @include def-border-radius(6px);
    float: left;
    margin: 0px 21px 21px 0px;  
    &:nth-child(3n+3){
      margin-right: 0px;
      @include def-respond(tablets-mobile){
        margin-right: 21px;
      }
    }
    @include old-ie{
      &:first-child + * + *{
        margin-right: 0px;
      }
      &:first-child + * + * + * + * + *{
        margin-right: 0px;
      }
      &:first-child + * + * + * + * + * + * + * + *{
        margin-right: 0px;
      }
    }
  }
  &_image-inner{
    border: 1px solid #d4d4d4;
    @include def-border-radius(6px);
    overflow: hidden;
  }
  &_img{
    width: 100%;
    height: auto;
    margin-bottom: -2px;
  }
  &_text{
    border-top: 3px solid #ed272b;
    margin-top: 1px;
    padding: 12px 9px 0px 9px;
    text-align: center;
    font-size: 16px;
    color: $main-view-font-color;
  }
  &_link{
    @include def-link-colors($main-view-font-color, $main-view-font-color, $main-view-font-color, $main-view-font-color, $main-view-font-color);
    font-weight: bold;
  }
}